@font-face {
  font-family: 'Avenir-Book';
  src: url('/assets/fonts/Avenir/Avenir-Book.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir-Book-Md';
  src: url('/assets/fonts/Avenir/Avenir-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'ITCAvantGardePro-Bold';
  src: url('/assets/fonts/ITC-Avant-Garde-Gothic-Pro/ITCAvantGardePro-Bold.otf') format("opentype");
}

body {
  font-family: Avenir-Book;
  overflow-x: hidden;
}

.collection__detail {
  display: flex;
}

.collection__detail .collection__detail--left,
.collection__detail .collection__detail--right {
  width: calc(100% / 2);
}

.collection__detail .collection__detail--left img {
  width: 100%;
  object-fit: cover;
}

.collection__detail .collection__detail--right .collection__detail--content  {
  margin: 0 0 0 120px;
  padding-right: 120px;
  overflow: hidden;
}

.collection__detail .collection__detail--right .collection__detail--title {
  padding-top: 6rem;
}

.collection__detail .collection__detail--right .collection__detail--title h1 {
  font-size: 1.9531rem;
  font-weight: 700;
  line-height: 2.5387rem;
  font-family: ITCAvantGardePro-Bold;
  margin-bottom: .75rem;
}

.collection__detail .collection__detail--right .collection__detail--desc p {
  font-size: 1rem;
  line-height: 1.6rem;
}

.collection__detail .collection__detail--right .daily__products--title hr {
  margin-bottom: 0;
}

.collection__detail .collection__detail--right .daily__products--title  {
  display: inline-block;
  padding-top: 2rem;
  padding-bottom: 4.25rem;
}

.collection__detail .collection__detail--right .daily__products--title p {
  font-size: .8rem;
  line-height: 17.48px;
  font-weight: 900;
  display: inline-block;
}

.collection__detail .collection__detail--right .daily__products .daily__product {
  width: 230px;
}

.collection__detail .collection__detail--right .daily__products .daily__product--title a {
  text-decoration: none;
  color: #000;
  font-size: .8rem;
  line-height: 1.28rem;
}

.collection__detail .collection__detail--right .daily__products .daily__product--body {
  display: flex;
  justify-content: space-between;
}

.collection__detail .collection__detail--right .daily__products .daily__product--body .daily__product--price {
  font-size: .8rem;
  font-family: Avenir-Book-Md;
  font-weight: 500;
  line-height: 1.28rem;
}

.collection__detail .collection__detail--right .daily__products .daily__product--body .daily__product--color-variants {
  display: flex;
  gap: 8px;
  align-items: center;
}

.collection__detail .collection__detail--right .daily__products .daily__product--body .daily__product--color-variants [name=color-variant] {
  appearance: none;
  cursor: pointer;
  width: .625rem;
  height: .625rem;
  margin: 0;
  border-radius: 50%;
  background-color: var(--bg-color);
}

.collection__detail .collection__detail--right .daily__products .daily__product--body .daily__product--color-variants [name=color-variant]:checked {
  border: .1406rem solid #fff;
  outline: 1.5px solid #000;
}

.collection__detail .collection__detail--right .daily__products .daily__product .daily__product--image {
  cursor: pointer;
}

.collection__detail .collection__detail--right .daily__products .daily__product .daily__product--image img {
  width: 100%;
  object-fit: cover;
  pointer-events: none;
  margin-bottom: .75rem;
}

.carousel {
  position: relative;
  width: 100%;
  margin-bottom: 90px;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  margin-right: 2rem;
  user-select: none;
}

.carousel-item img {
  width: 100%;
  height: auto;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #0000001A;
  line-height: 1;
  cursor: pointer;
}

.carousel-control.prev {
  left: 0;
}

.carousel-control.prev svg {
  transform: rotate(180deg);
}

.carousel-control.prev.hidden,
.carousel-control.next.hidden {
  display: none;
}

.carousel-control.next {
  right: -1.875rem;
}

@media only screen and (max-width: 811px) {
  .carousel-control.prev,
  .carousel-control.next {
    display: none;
  }
  .collection__detail {
    flex-direction: column;
  }

  .collection__detail .collection__detail--left,
  .collection__detail .collection__detail--right {
    width: 100%;
  }

  .collection__detail .collection__detail--right .collection__detail--title h1 {
    color: #fff;
  }

  .collection__detail .collection__detail--right .daily__products--title p,
  .collection__detail .collection__detail--right .daily__products--title hr,
  .collection__detail .collection__detail--right .collection__detail--desc p {
    color: #fff;
  }

  .collection__detail .collection__detail--right .daily__products .daily__product--body {
    flex-direction: column;
  } 

  .collection__detail .collection__detail--right {
    margin-top: -64%;
  }

  .collection__detail .collection__detail--right .collection__detail--content  {
    width: auto;
    margin: 0 0rem 0 3.5rem;
    padding-right: 300px;
  }

  .collection__detail .collection__detail--right .daily__products .daily__product--body .daily__product--color-variants {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-top: .575rem;
  }
}

@media only screen and (max-width: 550px) {
  .collection__detail .collection__detail--right .daily__products--title  {
    display: inline-block;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  .collection__detail .collection__detail--right .collection__detail--title h1 {
    font-size: 1.25rem;
    line-height: 1.625rem;
  }  

  .collection__detail .collection__detail--right .collection__detail--desc p {
    display: none;
  }

  .collection__detail .collection__detail--right {
    margin-top: -80%;
  }

  .collection__detail .collection__detail--right .collection__detail--content  {
    width: auto;
    margin: 0 0rem 0 1.5rem;
    padding-right: 120px;
  }

  .collection__detail .collection__detail--right .daily__products .daily__product--body .daily__product--color-variants [name=color-variant] {
    width: .75rem;
    height: .75rem;
  }

  .collection__detail .collection__detail--right .daily__products .daily__product {
    width: 148px;
  }

  .carousel-item {
    margin-right: .75rem;
  }
}
